/*<?php for docblocks
/**
 * Created by Stefan Herndler.
 * User: Stefan
 * Created-Date: 15.05.14
 * Created-Time: 16:21
 * Since: 1.0
 * 
 * Additional stylesheet needed when tooltips (jQuery or alternative) are enabled.
 * 
 * @version 2.5.8
 * @lastmodified 2021-02-28T1302+0100
 * 
 * System of unified minified style sheets tailored to the instance.
 * @since 2.5.5
 * @see full header in dev-common.css.
 */

/**
 * Tooltips.
 * 
 * - Bugfix: Tooltips: set z-index to maximum 2147483647 to address display issues with overlay content, thanks to @russianicons bug report.
 * 
 * @since 2.1.6
 * @reporter @russianicons
 * @link https://wordpress.org/support/topic/counter-styles-not-working/#post-13767299
 * 
 * - Bugfix: Layout: support right-to-left writing direction by replacing remaining CSS values 'left' with 'start', thanks to @arahmanshaalan bug report.
 * 
 * @since 2.5.8
 * @reporter @arahmanshaalan
 * @link https://wordpress.org/support/topic/right-to-left-text-problem/
 */

.footnote_tooltip {
	display: none;
	z-index: 2147483647 !important;
	cursor: auto;
	text-align: start !important;
	padding: 12px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
}

/*
Read-on button
*/

.footnote_tooltip_continue {
	font-style: italic;
	color: green;
	text-decoration: none !important;
	cursor: pointer;
	white-space: nowrap;
}

.footnote_tooltip_continue:hover {
	color: blue;
	text-decoration: underline !important;
}
