/*<?php for docblocks
/**
 * Additional stylesheet for alternative tooltips.
 * 
 * @since 2.5.5
 * @version 2.6.0
 * @lastmodified 2021-03-17T1552+0100
 *
 * System of unified minified style sheets tailored to the instance.
 * 
 * @see dev-common.css.
 */

/**
 * Position.
 * 
 * Values are defined by internal CSS.
 * @see class/task.php
 */

.footnote_referrer.relative {
	position: relative;
}

.footnote_tooltip.position {
	display: unset;
	position: absolute;
/*
	bottom: 24px;
	left: -50px;
	width: 400px;
*/
}

/**
 * Timing; fade-in/fade-out parameters.
 * 
 * To streamline internal CSS, immutable rules are in external stylesheet.
 * Property values of settings are internal CSS.
 * @see class/task.php
*/

.footnote_tooltip.shown {
	visibility: visible;
	opacity: 1;
	transition-property: visibility opacity;
	transition-timing-function: linear;
/*
	transition-delay: 0ms;
	transition-duration: 200ms;
*/
}

.footnote_tooltip.hidden {
	visibility: hidden;
	opacity: 0;
	transition-property: visibility opacity;
	transition-timing-function: linear;
/*
	transition-delay: 400ms;
	transition-duration: 200ms;
*/
}
