/**
 * Created by Stefan Herndler.
 * User: Stefan
 * Date: 15.05.14
 * Time: 16:21
 * Version: 1.0.6
 * Since: 1.0
 */

/* container before the footnote appears at the bottom to get a space between footnote and content */
.footnote_container_prepare {
	display:     block !important;
	padding-top: 24px !important;
}

.footnote_container_prepare > p {
	font-size:             1.5em !important;
	margin-top:            1em !important;
	margin-bottom:         0.25em !important;
	padding:               0 !important;
	line-height:           1.3 !important;
	font-weight:           normal !important;
	overflow:              hidden !important;
	border-bottom:         1px solid #aaaaaa !important;
	display:               block !important;
	-webkit-margin-before: 0.83em !important;
	-webkit-margin-after:  0.83em !important;
	-webkit-margin-start:  0px !important;
	-webkit-margin-end:    0px !important;
	text-align:            left !important;
}

.footnote_container_prepare > p > span {
	padding-left: 20px !important;
	text-align:   left !important;
	cursor: pointer;
}

.footnote_hide_box {
	display:none;
}

/* container for the footnote in the bottom */
.footnote_plugin_container {
	display:        block !important;
	width:          100% !important;
	padding-bottom: 14px !important;
}

/* footnote (bottom) index */
.footnote_plugin_index {
	float:       left !important;
	min-width:   40px !important;
	white-space: nowrap !important;
	text-align:  right !important;
}

/* footnote (bottom) text */
.footnote_plugin_text {
	float:        left !important;
	padding-left: 16px !important;
}

/* footnote (bottom) link to the footnote implementation */
.footnote_plugin_link {
	outline:         none !important;
	text-decoration: none !important;
	cursor:          pointer !important;
}

.footnote_plugin_link:hover {
	color:           #4777ff !important;
	text-decoration: none !important;
}

/* footnote (bottom) styling end tag */
.footnote_plugin_end {
	clear: left !important;
}

/* tooltip */
.footnote_plugin_tooltip {
	outline:         none !important;
	color:           #4777ff !important;
	text-decoration: none !important;
	cursor:          pointer !important;
}

.footnote_plugin_tooltip strong {
	line-height: 30px !important;
}

.footnote_plugin_tooltip:hover {
	text-decoration: none !important;
}

.footnote_plugin_tooltip span {
	z-index:     10 !important;
	display:     none !important;
	padding:     14px 20px !important;
	margin-top:  -30px !important;
	/*margin-left: 28px !important;*/
	/*width: 240px;*/
	line-height: 16px !important;
	cursor: default;
}

/*
 * added width and white-space styling in version 1.0.6
 */
.footnote_plugin_tooltip:hover span, .footnote_plugin_tooltip span:hover {
	display:    inline !important;
	position:   absolute !important;
	color:      #474747 !important;
	border:     1px solid #ddccaa !important;
	background: #fffaf0 !important;
	width: auto;
	white-space: nowrap;
}

.callout {
	z-index:  20 !important;
	position: absolute !important;
	top:      30px !important;
	border:   0 !important;
	left:     -12px !important;
}

/*CSS3 extras*/
.footnote_plugin_tooltip span {
	border-radius:         4px !important;
	-moz-border-radius:    4px !important;
	-webkit-border-radius: 4px !important;
	-moz-box-shadow:       5px 5px 8px #cccccc !important;
	-webkit-box-shadow:    5px 5px 8px #cccccc !important;
	box-shadow:            5px 5px 8px #cccccc !important;
}