/**
 * Created by Stefan Herndler.
 * User: Stefan
 * Created-Date: 15.05.14
 * Created-Time: 16:21
 * Since: 1.0
 * Version: 2.0.3
 * Last modified: 2020-10-29T1343+0100
 */
 
/* footnote tags */

.footnote_tag_styling,
.footnote_tag_styling:hover {
    text-decoration: none;
    font-weight: normal;
}
.footnote_tag_styling_1 {
    color: #2bb975;
}
.footnote_tag_styling_2 {
    color: #545f5a;
}

/* superscript footnote anchors */

.footnote_plugin_tooltip_text {
	vertical-align: top !important;
	position: relative !important;
	top: 0.6em !important;
	cursor: pointer;
	z-index: 1;
}
.footnote_plugin_tooltip_text {
	display: inline-block;
	text-decoration: none;
}
.footnote_plugin_tooltip_text:hover {
	text-decoration: underline;
}

/* tooltip infobox */

span.footnote_tooltip {
	font-size: inherit;
	text-align: left;
	z-index: 99;
}
.continue {
	font-style: italic;
	color: green;
}
.continue:hover {
	color: blue;
	text-decoration: underline;
}

/* reference container */

.footnote-reference-container {
	width: 100%;
	border: none;
}
.footnote_container_prepare {
	display: block !important;
	padding-top: 24px !important;
}
#footnote_references_container td {
	padding: none;
}

/* label */
.footnote_container_prepare > p {
	line-height: 1.3 !important;
	margin-top: 1em !important;
	margin-bottom: 0.25em !important;
	padding: 0 !important;
	font-weight: normal !important;
	overflow: hidden !important;
	border-bottom: 1px solid #aaaaaa !important;
	display: block !important;
	-webkit-margin-before: 0.83em !important;
	-webkit-margin-after: 0.83em !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
	text-align: left !important;
	vertical-align: middle;
}
.footnote_container_prepare > p > span:first-child {
	text-align: left !important;
	font-size: 1.5em !important;
}

/* collapse button */
#footnote_reference_container_collapse_button {
	cursor: pointer;
}
.footnote_container_prepare > p > span:last-child a {
	text-decoration: none;
}
.footnote_container_prepare > p > span:last-child a:hover {
	text-decoration: underline;
	color: #008800;
}

/* footnotes */
.footnote_plugin_index,
.footnote_plugin_text {
	border:none !important;
	text-align: left;
	vertical-align: top;
}
.footnote_plugin_index a,
.footnote_plugin_text a {
	text-decoration: none;
}
.footnote_plugin_index a:hover,
.footnote_plugin_text a:hover {
	text-decoration: underline !important;
}
.footnote_plugin_index {
	cursor: pointer;
	overflow-wrap: unset;
	word-wrap: unset;
	word-wrap: normal !important;
	word-break: unset;
	word-break: keep-all !important;
	white-space: nowrap;
	max-width: 140px;
	overflow: hidden;
}
@media only screen and (max-width: 768px) {
	.footnote_plugin_index {
		max-width: 100px;
	}
}

/* printing style */

.footnote_container_overall_wrapper {
	page-break-inside: avoid;
}
.footnote_container_prepare {
	page-break-after: avoid;
}
table.footnote_reference_container td {
	display: block;
}
table.footnote_reference_container {
	page-break-before: avoid;
	page-break-inside: auto;
}
table.footnote_reference_container tr {
	page-break-before: auto;
}
@media print {
	.footnote_tooltip,
	.footnote_reference_container_collapse_button_outfit,
	.footnote_plugin_index_arrow {
		display: none;
	}
	.footnote_plugin_tooltip_text {
		color: inherit;
	}
	.footnote_plugin_index a {
		color: inherit;
		text-decoration: none !important;
	}
	div.post-meta-edit-link-wrapper { /*hides the Edit button in WP2020*/
		display: none;  /*(added as a service)*/
	}
}
