/**
 * Created by Stefan Herndler.
 * User: Stefan
 * Date: 30.07.14 11:25
 * Version: 1.0
 * Since: 1.3
 */

/* container before the footnote appears at the bottom to get a space between footnote and content */
.footnote_container_prepare {
	display: block !important;
	padding-top: 24px !important;
}

.footnote_container_prepare > p {
	line-height: 1.3 !important;
	margin-top: 1em !important;
	margin-bottom: 0.25em !important;
	padding: 0 !important;
	font-weight: normal !important;
	overflow: hidden !important;
	border-bottom: 1px solid #aaaaaa !important;
	display: block !important;
	-webkit-margin-before: 0.83em !important;
	-webkit-margin-after: 0.83em !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
	text-align: left !important;
	vertical-align: middle;
}

.footnote_container_prepare > p > span:first-child {
	padding-left: 20px !important;
	text-align: left !important;
	cursor: pointer;
	font-size: 1.5em !important;
}

.footnote_container_prepare > p > span:last-child {
}

/* container for the footnote in the bottom */
.footnote_plugin_container {
	display: block !important;
	width: 100% !important;
	padding-bottom: 14px !important;
}

/* footnote (bottom) index */
.footnote_plugin_index {
	/*float: left !important;*/
	min-width: 40px !important;
	white-space: nowrap !important;
	text-align: right !important;
	display: inline-block;
}

/* footnote (bottom) text */
.footnote_plugin_text {
	/*float: left !important;*/
	padding-left: 16px !important;
	display: inline;
}

/* footnote (bottom) link to the footnote implementation */
.footnote_plugin_link {
	outline: none !important;
	text-decoration: none !important;
	cursor: pointer !important;
}

.footnote_plugin_link:hover {
	/*color: #4777ff !important;*/
	text-decoration: none !important;
}

/* footnote (bottom) styling end tag */
.footnote_plugin_end {
	/*clear: left !important;*/
}

.footnote_hide_box {
	display: none;
}