/**
 * Created by Stefan Herndler.
 * User: Stefan
 * Date: 30.07.14 11:25
 * Version: 1.0
 * Since: 1.3
 */

/* container before the footnote appears at the bottom to get a space between footnote and content */
.footnote_container_prepare {
	display: block !important;
	padding-top: 24px !important;
}

.footnote_container_prepare > p {
	line-height: 1.3 !important;
	margin-top: 1em !important;
	margin-bottom: 0.25em !important;
	padding: 0 !important;
	font-weight: normal !important;
	overflow: hidden !important;
	border-bottom: 1px solid #aaaaaa !important;
	display: block !important;
	-webkit-margin-before: 0.83em !important;
	-webkit-margin-after: 0.83em !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
	text-align: left !important;
	vertical-align: middle;
}

.footnote_container_prepare > p > span:first-child {
	padding-left: 20px !important;
	text-align: left !important;
	cursor: pointer;
	font-size: 1.5em !important;
}

.footnote_container_prepare > p > span:last-child {
}

.footnote_hide_box {
	display: none;
}

.footnote-reference-container {
	width: 100%;
	border: none;
}

.footnote-reference-container > tbody > tr > td:first-child {
	white-space: nowrap;
	padding-right: 5px;
	text-align: left;
}

.footnote-reference-container > tbody > tr > td:nth-child(2) {
	white-space: nowrap;
	padding-right: 5px;
	text-align: left;
}

.footnote-reference-container > tbody > tr > td:last-child {
	width: 99%;
	text-align: left;
}