<table class="customize_superscript widefat fixed">
	<tbody>
		<tr>
			<td>[[label-superscript]]</td>
			<td>[[superscript]]</td>
		</tr>
		<tr>
			<td>[[label-normalize]]</td>
			<td>[[normalize]] <span class="footnotes_notice">[[notice-normalize]]</span></td>
		</tr>
		<tr>
			<td>[[label-before]]</td>
			<td>[[before]]</td>
		</tr>
		<tr>
			<td>[[label-after]]</td>
			<td>[[after]]</td>
		</tr>
		<tr>
			<td>[[label-link]]</td>
			<td><span class="footnotes_notice">[[notice-link]]</span></td>
		</tr>
	</tbody>
</table>
