<table class="mouse_over_box_appearance widefat fixed">
	<tbody>
		<tr>
			<td>[[label-font-size]]</td>
			<td>[[font-size-enable]][[font-size-scalar]][[font-size-unit]] <span class="footnotes_notice">[[notice-font-size]]</span></td>
		</tr>
		<tr>
			<td>[[label-color]]</td>
			<td>[[color]] <span class="footnotes_notice">[[notice-color]]</span></td>
		</tr>
		<tr>
			<td>[[label-background]]</td>
			<td>[[background]] <span class="footnotes_notice">[[notice-background]]</span></td>
		</tr>
		<tr>
			<td>[[label-border-width]]</td>
			<td>[[border-width]] <span class="footnotes_notice">[[notice-border-width]]</span></td>
		</tr>
		<tr>
			<td>[[label-border-color]]</td>
			<td>[[border-color]] <span class="footnotes_notice">[[notice-border-color]]</span></td>
		</tr>
		<tr>
			<td>[[label-border-radius]]</td>
			<td>[[border-radius]] <span class="footnotes_notice">[[notice-border-radius]]</span></td>
		</tr>
		<tr>
			<td>[[label-box-shadow-color]]</td>
			<td>[[box-shadow-color]] <span class="footnotes_notice">[[notice-box-shadow-color]]</span></td>
		</tr>
	</tbody>
</table>
