<table class="settings_hard_links widefat fixed">
	<tbody>
		<tr>
			<td>[[label-hard-links]]</td>
			<td>[[hard-links]] <span class="footnotes_notice">[[notice-hard-links]]</span></td>
		</tr>
		<tr>
			<td>[[label-footnote]]</td>
			<td>[[footnote]] <span class="footnotes_notice">[[notice-footnote]]</span></td>
		</tr>
		<tr>
			<td>[[label-referrer]]</td>
			<td>[[referrer]] <span class="footnotes_notice">[[notice-referrer]]</span></td>
		</tr>
		<tr>
			<td>[[label-separator]]</td>
			<td>[[separator]] <span class="footnotes_notice">[[notice-separator]]</span></td>
		</tr>
		<tr>
			<td>[[label-backlink-tooltips]]</td>
			<td>[[backlink-tooltips]] <span class="footnotes_notice">[[notice-backlink-tooltips]]</span></td>
		</tr>
		<tr>
			<td>[[label-backlink-tooltip-text]]</td>
			<td>[[backlink-tooltip-text]] <span class="footnotes_notice">[[notice-backlink-tooltip-text]]</span></td>
		</tr>
	</tbody>
</table>
