<table class="mouse_over_box_timing widefat fixed">
	<tbody>
		<tr>
			<td>[[label-fade-in-delay]]</td>
			<td>[[fade-in-delay]] <span class="footnotes_notice">[[notice-fade-in-delay]]</span></td>
		</tr>
		<tr>
			<td>[[label-fade-in-duration]]</td>
			<td>[[fade-in-duration]] <span class="footnotes_notice">[[notice-fade-in-duration]]</span></td>
		</tr>
		<tr>
			<td>[[label-fade-out-delay]]</td>
			<td>[[fade-out-delay]] <span class="footnotes_notice">[[notice-fade-out-delay]]</span></td>
		</tr>
		<tr>
			<td>[[label-fade-out-duration]]</td>
			<td>[[fade-out-duration]] <span class="footnotes_notice">[[notice-fade-out-duration]]</span></td>
		</tr>
	</tbody>
</table>
