<table class="mouse_over_box_position widefat fixed">
	<tbody>
		<tr>
			<td>[[label-position]]</td>
			<td>[[position]] [[position-alternative]] <span class="footnotes_notice">[[notice-position]]</span></td>
		</tr>
		<tr>
			<td>[[label-offset-x]]</td>
			<td>[[offset-x]] [[offset-x-alternative]] <span class="footnotes_notice">[[notice-offset-x]]</span></td>
		</tr>
		<tr>
			<td>[[label-offset-y]]</td>
			<td>[[offset-y]] [[offset-y-alternative]] <span class="footnotes_notice">[[notice-offset-y]]</span></td>
		</tr>
	</tbody>
</table>
