<table class="settings_reference_container widefat fixed">
	<tbody>
		<tr>
			<td>[[label-name]]</td>
			<td>[[name]]</td>
		</tr>
		<tr>
			<td>[[label-element]]</td>
			<td>[[element]]</td>
		</tr>
		<tr>
			<td>[[label-border]]</td>
			<td>[[border]]</td>
		</tr>
		<tr>
			<td>[[label-collapse]]</td>
			<td>[[collapse]]</td>
		</tr>
		<tr>
			<td>[[label-script]]</td>
			<td>[[script]] <span class="footnotes_notice">[[notice-script]]</span></td>
		</tr>
		<tr>
			<td>[[label-position]]</td>
			<td>[[position]] <span class="footnotes_notice">[[notice-position]]</span></td>
		</tr>
		<tr>
			<td>[[label-shortcode]]</td>
			<td>[[shortcode]] <span class="footnotes_notice">[[notice-shortcode]]</span></td>
		</tr>
		<tr>
			<td>[[label-section]]</td>
			<td>[[section]] <span class="footnotes_notice">[[notice-section]]</span></td>
		</tr>
		<tr>
			<td>[[label-startpage]]</td>
			<td>[[startpage]]</td>
		</tr>
		<tr>
			<td>[[label-margin-top]]</td>
			<td>[[margin-top]] <span class="footnotes_notice">[[notice-margin-top]]</span></td>
		</tr>
		<tr>
			<td>[[label-margin-bottom]]</td>
			<td>[[margin-bottom]] <span class="footnotes_notice">[[notice-margin-bottom]]</span></td>
		</tr>
		<tr>
			<td>[[label-page-layout]]</td>
			<td>[[page-layout]] <span class="footnotes_notice">[[notice-page-layout]]</span></td>
		</tr>
		<tr>
			<td>[[label-url-wrap]]</td>
			<td>[[url-wrap]] <span class="footnotes_notice">[[notice-url-wrap]]</span></td>
		</tr>
		<tr>
			<td>[[label-symbol]]</td>
			<td>[[symbol-enable]] <span class="footnotes_notice">[[notice-symbol]]</span></td>
		</tr>
		<tr>
			<td>[[label-switch]]</td>
			<td>[[switch]]</td>
		</tr>
		<tr>
			<td>[[label-3column]]</td>
			<td>[[3column]] <span class="footnotes_notice">[[notice-3column]]</span></td>
		</tr>
		<tr>
			<td>[[label-row-borders]]</td>
			<td>[[row-borders]]</td>
		</tr>
		<tr>
			<td>[[label-separator]]</td>
			<td>
				[[separator-enable]]
				[[separator-options]]
				[[separator-custom]]
				<span class="footnotes_notice">[[notice-separator]]</span>
			</td>
		</tr>
		<tr>
			<td>[[label-terminator]]</td>
			<td>
				[[terminator-enable]]
				[[terminator-options]]
				[[terminator-custom]]
				<span class="footnotes_notice">[[notice-terminator]]</span>
			</td>
		</tr>
		<tr>
			<td>[[label-width]]</td>
			<td>
				[[width-enable]]
				[[width-scalar]]
				[[width-unit]]
				<span class="footnotes_notice">[[notice-width]]</span>
			</td>
		</tr>
		<tr>
			<td>[[label-max-width]]</td>
			<td>
				[[max-width-enable]]
				[[max-width-scalar]]
				[[max-width-unit]]
				<span class="footnotes_notice">[[notice-max-width]]</span>
			</td>
		</tr>
		<tr>
			<td>[[label-line-break]]</td>
			<td>[[line-break]]
				<span class="footnotes_notice">[[notice-line-break]]</span>
			</td>
		</tr>
		<tr>
			<td>[[label-link]]</td>
			<td>[[link]] <span class="footnotes_notice">[[notice-link]]</span></td>
		</tr>
	</tbody>
</table>
<div class="footnotes_description">
	<p>[[description-link]]</p>
</div>
