<a href="#footnote_plugin_reference_[[FOOTNOTE INDEX]]"
   name="footnote_plugin_tooltip_[[FOOTNOTE INDEX]]"
   id="footnote_plugin_tooltip_[[FOOTNOTE INDEX]]"
   class="footnote_plugin_tooltip_text"
   onclick="footnote_expand_reference_container('#footnote_plugin_reference_[[FOOTNOTE INDEX]]');">
	<sup>[[FOOTNOTE BEFORE]][[FOOTNOTE INDEX]][[FOOTNOTE AFTER]]</sup>
</a>
<span class="footnote_tooltip" id="footnote_plugin_tooltip_text_[[FOOTNOTE INDEX]]">
	[[FOOTNOTE TEXT]]
</span>

<script type="text/javascript">
	jQuery("#footnote_plugin_tooltip_[[FOOTNOTE INDEX]]").tooltip({
		tip: "#footnote_plugin_tooltip_text_[[FOOTNOTE INDEX]]",
		tipClass: "footnote_tooltip",
		effect: "fade",
		fadeOutSpeed: 100,
		predelay: 400,
		position: "top right",
		relative: true,
		offset: [10, 10]
	});
</script>