<!--<?php//for docblock, @see MCI_Footnotes_Template::process_template()
	/**
	 */?>
-->
<script type="text/javascript">
	jQuery('#footnote_plugin_tooltip_[[post_id]]_[[container_id]]_[[note_id]]').tooltip({
		tip: '#footnote_plugin_tooltip_text_[[post_id]]_[[container_id]]_[[note_id]]',
		tipClass: 'footnote_tooltip',
		effect: 'fade',
		predelay: [[fade-in-delay]],
		fadeInSpeed: [[fade-in-duration]],
		delay: [[fade-out-delay]],
		fadeOutSpeed: [[fade-out-duration]],
		position: '[[position]]',
		relative: true,
		offset: [[[offset-y]], [[offset-x]]],
	});
</script>
