<table class="widefat fixed">
	<tbody>
	<tr>
		<td>[[label-css]]</td>
		<td>[[css]]</td>
	</tr>
	<tr>
		<td colspan="2">[[headline]]</td>
	</tr>
	<tr>
		<td>[[label-class-1]]</td>
		<td>[[class-1]]</td>
	</tr>
	<tr>
		<td>[[label-class-2]]</td>
		<td>[[class-2]]</td>
	</tr>
	<tr>
		<td>[[label-class-3]]</td>
		<td>[[class-3]]</td>
	</tr>
	<tr>
		<td>[[label-class-4]]</td>
		<td>[[class-4]]</td>
	</tr>
	<tr>
		<td>[[label-class-5]]</td>
		<td>[[class-1]]</td>
	</tr>
	</tbody>
</table>