<table id="customize_css_new" class="customize_css_new widefat fixed">
	<tbody>
		<tr>
			<td>[[headline]]<br />
				<div class="list">
<p>.footnote_referrer = enclosing &lt;span>
<p>.footnote_referrer > a = optional &lt;a> enclosing the &lt;sup>
<p>.footnote_plugin_tooltip_text = inner &lt;sup>, not tooltip
<p><!--closing p tags are not mandatory-->
<p>.footnote_tooltip = inner &lt;span>
<p>.footnote_tooltip_continue = nested &lt;span>
<p><!--closing p tags are not mandatory-->
<p>.footnotes_reference_container = enclosing &lt;div>
<p>.footnote_container_prepare = label &lt;div>
<p>.footnote_reference_container_label = &lt;span>
<p>.footnote_reference_container_collapse_button = sibling &lt;span>
<p><!--closing p tags are not mandatory-->
<p>.footnotes_table = &lt;table>
<p>.footnotes_plugin_reference_row = &lt;tr>
<p>.footnote_plugin_index_combi = first &lt;td> if identical footnotes are combined
<p>.footnote_plugin_index = first &lt;td> if identical footnotes are not combined
<p>.footnote_index = &lt;a> or &lt;span> in first &lt;td> in 3-column table
<p>.footnote_plugin_symbol = second &lt;td> in 3-column table
<p>.footnote_plugin_link = &lt;a> or &lt;span> if identical footnotes are not combined
<p>.footnote_backlink = &lt;a> or &lt;span> if identical footnotes are combined, or in second &lt;td> in 3-column table
<p>.footnote_index_arrow = nested &lt;span>, symbol only
<p>.footnote_plugin_text = second &lt;td>, or third &lt;td> in 3-column table
				</div>
			</td>
			<td>[[css]]</td>
		</tr>
	</tbody>
</table>
