<table class="widefat fixed">
	<tbody>
	<tr>
		<td>[[label-css]]</td>
		<td>[[css]]</td>
	</tr>
	<tr>
		<td colspan="2">[[headline]]</td>
	</tr>
	<tr>
        <td>&nbsp;</td>
		<td><strong>[[label-class-1]]</strong><br/><em>[[class-1]]</em></td>
	</tr>
	<tr>
        <td>&nbsp;</td>
		<td><strong>[[label-class-2]]</strong><br/><em>[[class-2]]</em></td>
	</tr>
	<tr>
        <td>&nbsp;</td>
		<td><strong>[[label-class-3]]</strong><br/><em>[[class-3]]</em></td>
	</tr>
	<tr>
        <td>&nbsp;</td>
		<td><strong>[[label-class-4]]</strong><br/><em>[[class-4]]</em></td>
	</tr>
	<tr>
        <td>&nbsp;</td>
		<td><strong>[[label-class-5]]</strong><br/><em>[[class-5]]</em></td>
	</tr>
	</tbody>
</table>