<table class="widefat fixed">
	<tbody>
	<tr>
		<td>[[label-enable]]</td>
		<td>[[enable]]</td>
	</tr>
    <tr>
        <td>[[label-activate-excerpt]]</td>
        <td>[[activate-excerpt]]</td>
    </tr>
    <tr>
        <td>[[label-excerpt-length]]</td>
        <td>[[excerpt-length]]</td>
    </tr>
	<tr>
		<td>[[label-position]]</td>
		<td>[[position]]</td>
	</tr>
	<tr>
		<td>[[label-offset-x]]</td>
		<td>[[offset-x]] <em>[[notice-offset-x]]</em></td>
	</tr>
	<tr>
		<td>[[label-offset-y]]</td>
		<td>[[offset-y]] <em>[[notice-offset-y]]</em></td>
	</tr>
    <tr>
        <td>[[label-color]]</td>
        <td>[[color]] <em>[[notice-color]]</em></td>
    </tr>
    <tr>
        <td>[[label-background]]</td>
        <td>[[background]] <em>[[notice-background]]</em></td>
    </tr>
    <tr>
        <td>[[label-border-width]]</td>
        <td>[[border-width]] <em>[[notice-border-width]]</em></td>
    </tr>
    <tr>
        <td>[[label-border-color]]</td>
        <td>[[border-color]] <em>[[notice-border-color]]</em></td>
    </tr>
    <tr>
        <td>[[label-border-radius]]</td>
        <td>[[border-radius]] <em>[[notice-border-radius]]</em></td>
    </tr>
    <tr>
        <td>[[label-max-width]]</td>
        <td>[[max-width]] <em>[[notice-max-width]]</em></td>
    </tr>
	<tr>
		<td>[[label-box-shadow-color]]</td>
		<td>[[box-shadow-color]] <em>[[notice-box-shadow-color]]</em></td>
	</tr>
	</tbody>
</table>