<table id="diagnostics" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-server]]</td>
            <td>[[server]]</td>
        </tr>
        <tr>
            <td>[[label-php]]</td>
            <td>[[php]]</td>
        </tr>
        <tr>
            <td>[[label-user-agent]]</td>
            <td>[[user-agent]]</td>
        </tr>
        <tr>
            <td>[[label-max-execution-time]]</td>
            <td>[[max-execution-time]]</td>
        </tr>
        <tr>
            <td>[[label-memory-limit]]</td>
            <td>[[memory-limit]]</td>
        </tr>
        <tr>
            <td>[[label-php-extensions]]</td>
            <td>[[php-extensions]]</td>
        </tr>
        <tr>
            <td>[[label-wordpress]]</td>
            <td>[[wordpress]]</td>
        </tr>
        <tr>
            <td>[[label-theme]]</td>
            <td>[[theme]]</td>
        </tr>
        [[plugins]]
    </tbody>
</table>
