<table class="widefat fixed">
    <thead>
    <tr>
        <th style="width: 260px !important;">[[head-hook]]</th>
        <th style="width: 65px !important;">[[head-checkbox]]</th>
        <th style="white-space: nowrap;">[[head-url]]</th>
    </tr>
    </thead>
	<tbody>
    <tr>
        <td style="width: 260px !important;">[[label-the-title]]</td>
        <td style="width: 65px !important;">[[the-title]]</td>
        <td style="white-space: nowrap;"><a href="[[url-the-title]]" target="_blank">[[url-the-title]]</a></td>
    </tr>
	<tr>
		<td style="width: 260px !important;">[[label-the-content]]</td>
		<td style="width: 65px !important;">[[the-content]]</td>
        <td style="white-space: nowrap;"><a href="[[url-the-content]]" target="_blank">[[url-the-content]]</a></td>
	</tr>
    <tr>
        <td style="width: 260px !important;">[[label-the-excerpt]]</td>
        <td style="width: 65px !important;">[[the-excerpt]]</td>
        <td style="white-space: nowrap;"><a href="[[url-the-excerpt]]" target="_blank">[[url-the-excerpt]]</a></td>
    </tr>
    <tr>
        <td style="width: 260px !important;">[[label-widget-title]]</td>
        <td style="width: 65px !important;">[[widget-title]]</td>
        <td style="white-space: nowrap;"><a href="[[url-widget-title]]" target="_blank">[[url-widget-title]]</a></td>
    </tr>
    <tr>
        <td style="width: 260px !important;">[[label-widget-text]]</td>
        <td style="width: 65px !important;">[[widget-text]]</td>
        <td style="white-space: nowrap;"><a href="[[url-widget-text]]" target="_blank">[[url-widget-text]]</a></td>
    </tr>
    <tr>
        <td style="width: 260px !important;">[[label-post-object]]</td>
        <td style="width: 65px !important;">[[post-object]]</td>
        <td style="white-space: nowrap;"><a href="[[url-post-object]]" target="_blank">[[url-post-object]]</a></td>
    </tr>
	</tbody>
</table>