<div class="footnotes_description">
    <p>[[description-1]]</p>
    <p>[[description-2]]</p>
    <p>[[description-3]]</p>
</div>
<table id="expert_lookup" class="widefat fixed">
    <thead>
        <tr>
            <th>[[head-hook]]</th>
            <th>[[head-checkbox]]</th>
            <th>[[head-numbox]]</th>
            <th>[[head-url]]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>[[label-the-title]]</td>
            <td>[[the-title]]</td>
            <td>[[priority-the-title]]</td>
            <td><a href="[[url-the-title]]" target="_blank">[[url-the-title]]</a></td>
        </tr>
        <tr>
            <td>[[label-the-content]]</td>
            <td>[[the-content]]</td>
            <td>[[priority-the-content]]</td>
            <td><a href="[[url-the-content]]" target="_blank">[[url-the-content]]</a></td>
        </tr>
        <tr>
            <td>[[label-the-excerpt]]</td>
            <td>[[the-excerpt]]</td>
            <td>[[priority-the-excerpt]]</td>
            <td><a href="[[url-the-excerpt]]" target="_blank">[[url-the-excerpt]]</a></td>
        </tr>
        <tr>
            <td>[[label-widget-title]]</td>
            <td>[[widget-title]]</td>
            <td>[[priority-widget-title]]</td>
            <td><a href="[[url-widget-title]]" target="_blank">[[url-widget-title]]</a></td>
        </tr>
        <tr>
            <td>[[label-widget-text]]</td>
            <td>[[widget-text]]</td>
            <td>[[priority-widget-text]]</td>
            <td><a href="[[url-widget-text]]" target="_blank">[[url-widget-text]]</a></td>
        </tr>
    </tbody>
</table>
<div class="footnotes_description">
    <p>[[description-4]]</p>
</div>
