<h1 style="margin: 0 0 18px; color: rgb(64, 64, 64); line-height: 36px; font-size: 30px; ">ManFisher</h1>

<div style="-webkit-print-color-adjust: exact; margin-right: 10px; padding:14px; border: 1px solid #444; background-color: #fefefe; color: rgb(115, 115, 115); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;">
	<p style="margin: 0 0 9px; font-size: 13px; line-height: 18px;">a note from the mastermind behind footnotes</p>

	<h2 style="margin: 0; color: rgb(64, 64, 64); line-height: 36px; font-size: 24px; ">Ideology</h2>
	<p style="margin: 0 0 9px; font-size: 13px; line-height: 18px;">You know WordPress is a great community effort and boatloads of people are involved and spending their spare time to freely (free as in money) contribute to WordPress as a platform or at the very core. Our aim as developers and those gravitating around developer's halos is to give back to the community with our own ideas which we think are great and well worth our whiles to put our own time into. For some of us, it would be a huge honour to serve the WordPress core developer team.</p>

	<h2 style="margin: 0;color: rgb(64, 64, 64); line-height: 36px; font-size: 24px; ">the ManFisher menu</h2>
	<p style="margin: 0 0 9px; font-size: 13px; line-height: 18px;">Will soon disappear as the company name changed and I believe it's overbearing to have that menu for such a simple function as footnotes</p>
</div>