<table id="mouse_over_box_display" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-enable]]</td>
            <td>[[enable]] <span class="footnotes_notice">[[notice-enable]]</span></td>
        </tr>
        <tr>
            <td>[[label-alternative]]</td>
            <td>[[alternative]] <span class="footnotes_notice">[[notice-alternative]]</span></td>
        </tr>
    </tbody>
</table>
<div class="footnotes_description">
    <p>[[description-alternative]]</p>
</div>
