<table id="mouse_over_box_position" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-position]]</td>
            <td>[[position]]</td>
        </tr>
        <tr>
            <td>[[label-offset-x]]</td>
            <td>[[offset-x]] <span class="footnotes_notice">[[notice-offset-x]]</span></td>
        </tr>
        <tr>
            <td>[[label-offset-y]]</td>
            <td>[[offset-y]] <span class="footnotes_notice">[[notice-offset-y]]</span></td>
        </tr>
        <tr>
            <td>[[label-max-width]]</td>
            <td>[[max-width]] <span class="footnotes_notice">[[notice-max-width]]</span></td>
        </tr>
    </tbody>
</table>
