<div class="footnotes_description">
	<p>[[description-delimiter]]</p>
</div>
<table class="mouse_over_box_text widefat fixed">
	<tbody>
		<tr>
			<td>[[label-delimiter]]</td>
			<td>[[delimiter]] <span class="footnotes_notice">[[notice-delimiter]]</span></td>
		</tr>
		<tr>
			<td>[[label-mirror]]</td>
			<td>[[mirror]] <span class="footnotes_notice">[[notice-mirror]]</span></td>
		</tr>
		<tr>
			<td>[[label-separator]]</td>
			<td>[[separator]] <span class="footnotes_notice">[[notice-separator]]</span></td>
		</tr>
	</tbody>
</table>
<div class="footnotes_description">
	<p>[[description-mirror]]</p>
</div>
