<div class="plugin-card">
	<div class="plugin-card-top">
		<a href="[[server]]/wp-admin/plugin-install.php?tab=plugin-information&plugin=[[plugin-name]]&TB_iframe=true&width=600&height=550" class="thickbox plugin-icon">
			<img src="[[plugin-icon]]"/>
		</a>
		<div class="name column-name">
			<h4>
				<a href="[[server]]/wp-admin/plugin-install.php?tab=plugin-information&plugin=[[plugin-name]]&TB_iframe=true&width=600&height=550" class="thickbox">[[plugin-title]]</a>
			</h4>
		</div>
		<div class="action-links">
			<ul class="plugin-action-buttons">
				<li>
					[[install-link]]
				</li>
				<li>
					<a href="[[server]]/wp-admin/plugin-install.php?tab=plugin-information&plugin=[[plugin-name]]&TB_iframe=true&width=600&height=550" class="thickbox" aria-label="More information about [[plugin-title]]" data-title="[[plugin-title]]">[[more-details-label]]</a>
				</li>
			</ul>
		</div>
		<div class="desc column-description">
			<p id="manfisher-[[plugin-name]]-description"></p>
			<p class="authors">
				<cite id="manfisher-[[plugin-name]]-author"></cite>
			</p>
		</div>
	</div>
	<div class="plugin-card-bottom">
		<div class="vers column-rating">
			<div class="star-rating" title="">
				<span class="screen-reader-text" id="manfisher-[[plugin-name]]-rating-text"></span>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
			<span class="num-ratings" id="manfisher-[[plugin-name]]-rating-num"></span>
		</div>
		<div class="column-updated">
			<strong>[[last-updated-label]]:</strong>
			<span id="manfisher-[[plugin-name]]-updated"></span>
		</div>
		<div class="column-downloaded" id="manfisher-[[plugin-name]]-downloads"></div>
		<div class="column-compatibility">
			<!--<span class="compatibility-compatible"></span>-->
		</div>
	</div>
</div>


<script type="text/javascript">
	jQuery.ajax({
		type: 'POST',
		url: '/wp-admin/admin-ajax.php',
		data: {
			action: 'footnotes_get_plugin_info',
			plugin: '[[plugin-name]]'
		},
		dataType: 'json',
		success: function (data, textStatus, XMLHttpRequest) {
			var l_obj_Description = jQuery("#manfisher-[[plugin-name]]-description");
			var l_obj_Author = jQuery("#manfisher-[[plugin-name]]-author");
			var l_obj_RatingText = jQuery("#manfisher-[[plugin-name]]-rating-text");
			var l_obj_RatingNum = jQuery("#manfisher-[[plugin-name]]-rating-num");
			var l_obj_LastUpdated = jQuery("#manfisher-[[plugin-name]]-updated");
			var l_obj_Downloads = jQuery("#manfisher-[[plugin-name]]-downloads");

			if (data == null) {
				l_obj_Description.text("No response received.");
			} else if (data.error) {
				l_obj_Description.text(data.error);
			} else {
				l_obj_Description.text(data.PluginDescription);
				l_obj_Author.append("By " + data.PluginAuthor);
				l_obj_RatingText.text(data.PluginRatingText);
				l_obj_RatingText.next().addClass(data.PluginRating1);
				l_obj_RatingText.next().next().addClass(data.PluginRating2);
				l_obj_RatingText.next().next().next().addClass(data.PluginRating3);
				l_obj_RatingText.next().next().next().next().addClass(data.PluginRating4);
				l_obj_RatingText.next().next().next().next().next().addClass(data.PluginRating5);
				l_obj_RatingNum.text("(" + data.PluginRating + ")");
				l_obj_LastUpdated.text(data.PluginLastUpdated);
				l_obj_Downloads.text(data.PluginDownloads + " downloads");
			}
		},
		error: function (MLHttpRequest, textStatus, errorThrown) {
			console.log(textStatus);
		}
	});
</script>
