<table id="settings-other" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-link]]</td>
            <td>[[link]]</td>
        </tr>
        <tr>
            <td>[[label-excerpt]]</td>
            <td>[[excerpt]]<em>[[excerpt-comment1]]</em></td>
            <td><em>[[excerpt-comment2]]<br />[[excerpt-comment3]]</em></td>
        </tr>
        <tr>
            <td>[[label-expert-mode]]</td>
            <td>[[expert-mode]]</td>
        </tr>
    </tbody>
</table>
