<table class="settings_scrolling widefat fixed">
	<tbody>
		<tr>
			<td>[[label-scroll-css]]</td>
			<td>[[scroll-css]] <span class="footnotes_notice">[[notice-scroll-css]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-offset]]</td>
			<td>[[scroll-offset]] <span class="footnotes_notice">[[notice-scroll-offset]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-duration]]</td>
			<td>[[scroll-duration]] <span class="footnotes_notice">[[notice-scroll-duration]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-asymmetricity]]</td>
			<td>[[scroll-asymmetricity]] <span class="footnotes_notice">[[notice-scroll-asymmetricity]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-down-duration]]</td>
			<td>[[scroll-down-duration]] <span class="footnotes_notice">[[notice-scroll-down-duration]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-down-delay]]</td>
			<td>[[scroll-down-delay]] <span class="footnotes_notice">[[notice-scroll-down-delay]]</span></td>
		</tr>
		<tr>
			<td>[[label-scroll-up-delay]]</td>
			<td>[[scroll-up-delay]] <span class="footnotes_notice">[[notice-scroll-up-delay]]</span></td>
		</tr>
	</tbody>
</table>
