<table id="settings_other" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-url-wrap]]</td>
            <td>[[url-wrap]]<span class="footnotes_notice"> [[notice-url-wrap]]</span></td>
        </tr>
        <tr>
            <td>[[label-link]]</td>
            <td>[[link]]</td>
        </tr>
        <tr>
            <td>[[label-excerpt]]</td>
            <td>[[excerpt]]<span class="footnotes_notice"> [[notice1-excerpt]]</span></td>
            <td><span class="footnotes_notice"> [[notice2-excerpt]]<br />[[notice3-excerpt]]</span></td>
        </tr>
        <tr>
            <td>[[label-expert-mode]]</td>
            <td>[[expert-mode]]</td>
        </tr>
    </tbody>
</table>
