<table id="settings_scrolling" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-scroll-offset]]</td>
            <td>[[scroll-offset]] <span class="footnotes_notice">[[notice-scroll-offset]]</span></td>
        </tr>
        <tr>
            <td>[[label-scroll-duration]]</td>
            <td>[[scroll-duration]] <span class="footnotes_notice">[[notice-scroll-duration]]</span></td>
        </tr>
        <tr>
            <td>[[label-hard-links]]</td>
            <td>[[hard-links]] <span class="footnotes_notice">[[notice-hard-links]]</span></td>
        </tr>
        <tr>
            <td>[[label-footnote]]</td>
            <td>[[footnote]] <span class="footnotes_notice">[[notice-footnote]]</span></td>
        </tr>
        <tr>
            <td>[[label-referrer]]</td>
            <td>[[referrer]] <span class="footnotes_notice">[[notice-referrer]]</span></td>
        </tr>
        <tr>
            <td>[[label-separator]]</td>
            <td>[[separator]] <span class="footnotes_notice">[[notice-separator]]</span></td>
        </tr>
    </tbody>
</table>
