<table id="settings-reference-container" class="widefat fixed">
    <tbody>
        <tr>
            <td>[[label-name]]</td>
            <td>[[name]]</td>
        </tr>
        <tr>
            <td>[[label-position]]</td>
            <td>[[position]]</td>
        </tr>
        <tr>
            <td>[[label-startpage]]</td>
            <td>[[startpage]]</td>
        </tr>
        <tr>
            <td>[[label-collapse]]</td>
            <td>[[collapse]]</td>
        </tr>
        <tr>
            <td>[[label-symbol]]</td>
            <td>
                [[symbol-enable]]
                [[symbol-options]]
                [[symbol-custom]]
                <em>[[symbol-comment]]</em>
            </td>
        </tr>
        <tr>
            <td>[[label-switch]]</td>
            <td>[[switch]]</td>
        </tr>
        <tr>
            <td>[[label-3column]]</td>
            <td>
                [[3column]]
                <em>[[3column-comment]]</em>
            </td>
        </tr>
        <tr>
            <td>[[label-separator]]</td>
            <td>
                [[separator-enable]]
                [[separator-options]]
                [[separator-custom]]
                <em>[[separator-comment]]</em>
            </td>
        </tr>
        <tr>
            <td>[[label-terminator]]</td>
            <td>
                [[terminator-enable]]
                [[terminator-options]]
                [[terminator-custom]]
                <em>[[terminator-comment]]</em>
            </td>
        </tr>
        <tr>
            <td>[[label-width]]</td>
            <td>
                [[width-enable]]
                [[width-scalar]]
                [[width-unit]]
            </td>
        </tr>
        <tr>
            <td>[[label-max-width]]</td>
            <td>
                [[max-width-enable]]
                [[max-width-scalar]]
                [[max-width-unit]]
            </td>
        </tr>
        <tr>
            <td>[[label-line-break]]</td>
            <td>[[line-break]]</td>
        </tr>
    </tbody>
</table>
