<span
    class="footnote_referrer relative"
    onmouseover="footnoteTooltipShow('footnote_plugin_tooltip_text_[[post_id]]_[[id]]')"
    onmouseout="footnoteTooltipHide('footnote_plugin_tooltip_text_[[post_id]]_[[id]]')"
    >[[link-start]]<[[sup-span]]
            id="footnote_plugin_tooltip_[[post_id]]_[[id]]"
            class="footnote_plugin_tooltip_text"
            onclick="footnote_moveToAnchor_[[post_id]]('footnote_plugin_reference_[[post_id]]_[[id]]');"
            >[[before]][[index]][[after]]</[[sup-span]]
    >[[link-end]]<span
        id="footnote_plugin_tooltip_text_[[post_id]]_[[id]]"
        class="footnote_tooltip position hidden"
        onmouseout="footnoteTooltipHide('footnote_plugin_tooltip_text_[[post_id]]_[[id]]')"
        >[[text]]</span
    ></span
>
