<tr>
    <td
        class="footnote_plugin_index"
        ><[[link-span]]
            id="footnote_plugin_reference_[[post_id]]_[[id]]"
            class="footnote_index"
            onclick="footnote_moveToAnchor_[[post_id]]('footnote_plugin_tooltip_[[post_id]]_[[id]]');"
            >[[index]][[terminator]]</[[link-span]]
        ></td
    ><td 
        class="footnote_plugin_link"
        ><[[link-span]]
            onclick="footnote_moveToAnchor_[[post_id]]('footnote_plugin_tooltip_[[post_id]]_[[id]]');"
            class="footnote_backlink"
            >[[arrow]]</[[link-span]]
        ></td
    ><td 
        class="footnote_plugin_text"
        >[[text]]</td
    >
</tr>
