<tr class="footnotes_plugin_reference_row">
    <td
        class="footnote_plugin_index"
        ><[[link-span]]
            id="footnote_plugin_reference_[[post_id]]_[[container_id]]_[[note_id]]"
            class="footnote_index"
            onclick="footnote_moveToAnchor_[[post_id]]_[[container_id]]('footnote_plugin_tooltip_[[post_id]]_[[container_id]]_[[note_id]]');"
            [[hard-link]]
            >[[index]][[terminator]]</[[link-span]]
        >[[anchor-element]]</td
    >
    <td 
        class="footnote_plugin_symbol"
        ><[[link-span]]
            onclick="footnote_moveToAnchor_[[post_id]]_[[container_id]]('footnote_plugin_tooltip_[[post_id]]_[[container_id]]_[[note_id]]');"
            class="footnote_backlink"
            [[hard-link]]
            >[[arrow]]</[[link-span]]
        ></td
    >
    <td 
        class="footnote_plugin_text"
        >[[text]]</td
    >
</tr>
