<!--<?php//for docblock, @see MCI_Footnotes_Template::process_template()
	/**
	 * Footnote template to enable AMP compatibility mode.
	 *
	 * - Adding: Tooltips: make display work purely by style rules for AMP compatibility, thanks to @milindmore22 code contribution.
	 * - Bugfix: Tooltips: enable accessibility by keyboard navigation, thanks to @westonruter code contribution.
	 *
	 * @since 2.5.11 (draft)
	 * @since 2.6.0  (release)
	 *
	 * @contributor @milindmore22
	 * @link https://github.com/ampproject/amp-wp/issues/5913#issuecomment-785306933
	 *
	 * @contributor @westonruter
	 * @link https://github.com/ampproject/amp-wp/issues/5913#issuecomment-785419655
	 */?>
-->
<span
	class="footnote_referrer relative"
	><[[link-span]]
		role="button"
		tabindex="0"
		[[hard-link]]
		><[[sup-span]]
			id="footnote_plugin_tooltip_[[post_id]]_[[container_id]]_[[note_id]]"
			class="footnote_plugin_tooltip_text"
			>[[before]][[index]][[after]]</[[sup-span]]
		></[[link-span]]
	>[[anchor-element]]<span
		id="footnote_plugin_tooltip_text_[[post_id]]_[[container_id]]_[[note_id]]"
		class="footnote_tooltip position"
		[[style]]
		>[[text]]</span
	></span
>
